* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #99aab5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* header contents */

#header {
    visibility: visible;
    top: 0;
    position: fixed;
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 5px;
    background-color: #2c2f33;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    margin-top: 8vh;
}


/* left side navigavtion bar */

.navBarLeft {
    position: fixed;
    overflow: auto;
    background-color: rgb(250, 248, 242, 0.05);
    padding: 6px;
    float: left;
    width: fit-content;
}

a.navItem:link,
a.navItem:visited {
    color: #575757;
    text-decoration: none;
}

p.signature {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
}

h4.navTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
}


/* slide features */

.slide-container {
    height: 80vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 3200px;
    height: 600px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-trasnition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 600px;
}

.button-container {
    top: -20px;
    position: relative;
    text-align: center;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target~.image-container {
    top: px;
    left: 0px;
}

#slider-image-2:target~.image-container {
    left: -800px;
}

#slider-image-3:target~.image-container {
    left: -1600px;
}

#slider-image-4:target~.image-container {
    left: -2400px;
}


/* game selection */

#allGames {
    margin-left: 20%;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 4px;
}

.gamesContainer {
    background-color: #575757;
    padding: 10px;
    height: 80vh;
    width: 60%;
    margin-right: auto;
    margin-left: 20%;
}

.gameBox {
    background-color: #faf8f2;
}


/* footer section */